<h1>New addition</h1>

<form action="/wizard_add">
  <label for="first_field">Add this:</label>
  <input  id="first_field" type="text" name="first_num">

  <label for="second_field">to this:</label>
  <input  id="second_field" type="text" name="second_num">

  <button>Add!</button>
</form>
