<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="first_field">Multiply this:</label>
  <input  id="first_field" type="text" name="first_num">

  <label for="bear">by this:</label>
  <input id="bear" type="text" name="second_num">

  <button>Multiply!</button>
</form>
